<div class="main dashboard-main animate-right">
    <div id="dashboard" class="container row">
        <div onclick="parent.pageTransitionOnIframe('UIDevConfiguracoes', 'Atualizações')" class="card left padding-0 hover-text-theme mode-background-colorLine pointer hover-shadow">
            <div class="col align-center padding-large menu-li mode-background-colorBox mode-text-colorText" style="margin-bottom: 5px">
                <i class="font-xxxlarge material-icons">update</i>
                <div class="font-large col">Atualizações</div>
            </div>
        </div>
        <div onclick="parent.pageTransitionOnIframe('UIDevPermissoes', 'Permissões')" class="card left padding-0 hover-text-theme mode-background-colorLine pointer hover-shadow">
            <div class="col align-center padding-large menu-li mode-background-colorBox mode-text-colorText" style="margin-bottom: 5px">
                <i class="font-xxxlarge material-icons">assignment_turned_in</i>
                <div class="font-large col">Permissões</div>
            </div>
        </div>
        <div onclick="parent.pageTransitionOnIframe('UIDevIntegracoes', 'Integrações')" class="card left padding-0 hover-text-theme mode-background-colorLine pointer hover-shadow">
            <div class="col align-center padding-large menu-li mode-background-colorBox mode-text-colorText" style="margin-bottom: 5px">
                <i class="font-xxxlarge material-icons">settings_input_component</i>
                <div class="font-large col">Integrações</div>
            </div>
        </div>
        <div onclick="parent.pageTransitionOnIframe('UIDevTema', 'Tema')" class="card left padding-0 hover-text-theme mode-background-colorLine pointer hover-shadow">
            <div class="col align-center padding-large menu-li mode-background-colorBox mode-text-colorText" style="margin-bottom: 5px">
                <i class="font-xxxlarge material-icons">format_paint</i>
                <div class="font-large col">Tema</div>
            </div>
        </div>
        <div onclick="parent.pageTransitionOnIframe('table-maestru/api_chave', 'API Keys')" class="card left padding-0 hover-text-theme mode-background-colorLine pointer hover-shadow">
            <div class="col align-center padding-large menu-li mode-background-colorBox mode-text-colorText" style="margin-bottom: 5px">
                <i class="font-xxxlarge material-icons">compare_arrows</i>
                <div class="font-large col">API Keys</div>
            </div>
        </div>
    </div>
</div>