{{#entidades}}
    <div class="container padding-0" style="height: 38.4px; overflow: hidden;width: 300px">
        <div class="font-medium container padding-8 padding-right stripp" style="cursor: default" rel="{{.}}">
            {{#familyName}}{{.}}{{/familyName}}
        </div>
    </div>
{{/entidades}}